
.container {
    width: 480px;
    margin: 0 auto;
    background-color: #d3d3d3;
    }

header {
    min-width: 480px;
    width:100%;
    height: 150px;
}

.boxes{
    min-width: 480px;
    width:100%;
    
}
/*p {
    text-align: center;
    font-size: 3em;
}*/

.featured-boxes {
    min-width: 480px;
    width: 100%;
    height:250px;
}

.b, .c, .d {
    width: 100%;
    height: 75px;
}

.boxes section:last-child {
    minwidth: 0;
    width: 100%;
    height: 250px;
}

.e,.f,.g,.h {
    /*display: inline-block;*/
    float: left;
    min-width: 50%;
    height: 250px;
}

.g {
    clear:left;
}

footer {
    min-width:480px;
    width:100%;
    height: 80px;
}

 /*portal bigger than 480*/
  @media only screen and (min-width: 768px) {
    
  
    .container {
        width: 100%;
        margin: 0 auto;
        min-width: 0;
        max-width: 960px;
        }
    
    header {
        max-width: 960px;
        width:100%;
        height: 75px;
    }
    
    .boxes{
        max-width: 960px;
        width:100%;
        float: left;
    }

    
    .featured-boxes {
        min-width: 480px;
        width: 100%;
        height:250px;
    }
    
    .b, .c, .d {
        width: 100%;
        height: 75px;
    }
    
    .boxes section:last-child {
        minwidth: 0;
        width: 100%;
        height: 250px;
    }
    
    .e,.f,.g,.h {
        display: inline-block;
        float: left;
        min-width: 50%;
        height: 250px;
    }
    
    .g {
        clear:left;
    }
    
    footer {
        min-width:480px;
        width:100%;
        height: 80px;
    }
}
    
  