
.container {
    width: 480px;
    margin: 0 auto;
    background-color: #d3d3d3;
    }

header {
    width: inherit;
}

main{
    widows: inherit;
}
p {
    text-align: center;
    font-size: 3em;
}

.div_a {
    width: 100%;
    height: 75px;
}

.div_b {
    width: 100%;
    height: 150px;
}

.div_c {
    width: 100%;
    height: 125px;
    float: left;
}

.div_d {
    width: 100%;
    height: 125px;
}

.div_e{
    width: 50%;
    height: 250px;
    float: left;
}

.div_f {
    width: 50%;
    height: 250px;
    float: left;
}

.div_g {
    clear: both;
    width: 50%;
    height: 250px;
    float: left;
}

.div_h {
    width: 50%;
    height: 250px;
    float: left;
}

footer {
    clear:both;
    width:inherit;
    height: 80px;

}

 /*portal bigger than 480*/
  @media (min-width: 760px) {
    .container {
      width: 100%;
      padding: 0; }
  }
  
  /* portal bigger than 768px */
  @media (min-width: 960px) {
}
    
  